:root {
    --base-colour: oklch(80% 0.1 195);
    --bg-colour: color-mix(in oklab, var(--base-colour) 5%, white 95%);
    --navbar-colour: color-mix(in oklab, var(--base-colour) 100%, white 0%);
    --pub-colour: color-mix(in oklab, var(--base-colour) 5%, white 95%);
    --pubsum-colour: color-mix(in oklab, var(--base-colour) 1%, white 99%);
    --link-colour: oklch(60% 0.35 210);
    --link-hover-colour: color-mix(in oklab, var(--link-colour) 90%, black 10%);
}

/* Base Styles */

body {
    margin: 0;
    padding: 0;
    background: var(--bg-colour);
    color: #333;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    font-size: 18px;
}

h1 {
    font-size: 1.8em;
}

a {
    text-decoration: none;
    color: var(--link-colour);
}

/* Content Container */

.content-container {
    max-width: 1024px;
    width: 95%;
    margin: 0 auto;
    text-align: justify;
}

.content-container p {
    color: #333;
}

/* Images */

.inline-image {
    float: right;
    margin: 0 0 10px 15px;
    max-width: 100%;
    width: 200px;
    height: auto;
    object-fit: cover;
    object-position: top;
}

.scaled-image {
    width: 500px;
    height: 500px;
}

img.responsive-image {
    max-width: 100%;
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Clearfix */

.content-container::after {
    content: "";
    display: block;
    clear: both;
}

/* Navbar */

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: var(--navbar-colour);
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 1.25em;
}

.nav-left .nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.nav-left .nav-links li a {
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-left .nav-links li a:hover {
    background-color: var(--link-hover-colour);
}

.nav-right .name {
    font-weight: bold;
    list-style: none;
    display: flex;
    justify-content: center;
    /* Center the content */
    width: 100%;
}

.nav-right .name li a {
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-right .name li a:hover {
    background-color: var(--link-hover-colour);
}

/* Links */

.publication-link {
    font-weight: bold;
    font-family: 'Courier New', monospace;
}

.horizontal-links a {
    font-weight: bold;
    font-family: 'Courier New', monospace;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.horizontal-links a:hover {
    background-color: var(--link-hover-colour);
    color: white;
}

/* Responsive Adjustments */

@media (max-width: 520px) {
    .navbar {
        flex-direction: column;
    }

    .nav-right {
        order: -1;
        text-align: center;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .inline-image {
        float: none;
        display: block;
        margin: auto;
    }

    .content-container {
        padding: 10px;
    }
}