:root {
    --base-colour: oklch(80% 0.1 195);
    --bg-colour: color-mix(in oklab, var(--base-colour) 5%, white 95%);
    --navbar-colour: color-mix(in oklab, var(--base-colour) 100%, white 0%);
    --pub-colour: color-mix(in oklab, var(--base-colour) 5%, white 95%);
    --pubsum-colour: color-mix(in oklab, var(--base-colour) 1%, white 99%);
    --link-colour: oklch(60% 0.35 210);
    --link-hover-colour: oklch(45% 0.35 210);
    --link-background-colour: color-mix(in oklab, var(--link-colour) 90%, black 10%);
    --font-size: 19px;
    --font-colour: color-mix(in oklab, var(--base-colour) 50%, black 50%);
    --navbar-font-size: 1.25em;
    --navbar-font-colour: white;
    --border-radius: 0.2em;
    --item-pad: 0.25em 0.35em;
    --nav-pad: 0.5em;
}

/* Base Styles */

body {
    margin: 0;
    padding: 0;
    background: var(--bg-colour);
    font-family: 'Segoe UI', 'Arial', sans-serif;
    font-size: var(--font-size);
}

main {
    color: var(--font-colour);
    text-align: center;
}

h1 {
    font-size: 1.8em;
}

a {
    text-decoration: none;
    color: var(--link-colour);
}

a:hover {
    color: var(--link-hover-colour);
}

hr {
    width: 75%;
    margin: 1em auto 1em auto;
}

.content-container {
    max-width: calc(0.95*1080px);
    width: 95%;
    margin: 1em auto 2em auto;
    text-align: justify;
}

.inline-image {
    float: right;
    margin: 0 0 1em 1em;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
}

@media (max-width: 580px) {
    .inline-image {
        float: none;
        display: block;
        margin: auto;
    }
}

.video-wrapper {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    border: 3px solid #000;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    font-size: var(--navbar-font-size);
    font-weight: bold;
    top: 0;
    z-index: 10;
    background: var(--navbar-colour);
    color: var(--navbar-font-colour);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: var(--nav-pad);
    width: 100%;
    box-sizing: border-box;
}

#nav {
    display: inline;
}

.navlink {
    color: var(--navbar-font-colour);
    padding: var(--item-pad);
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navlink:hover {
    color: var(--navbar-font-colour);
    background-color: var(--link-background-colour);
}

#home {
    color: var(--navbar-font-colour);
    padding: var(--item-pad);
    margin-left: auto;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#home:hover {
    color: var(--navbar-font-colour);
    background-color: var(--link-background-colour);
}

#navbutton {
    border: none;
    background-color: transparent;
    display: none;
    font-size: var(--navbar-font-size);
    color: var(--navbar-font-colour);
}

@media (width <=900px) {
    header {
        justify-content: space-around;
    }

    #home {
        display: flex;
        order: -2;
        text-align: center;
    }

    #navbutton {
        display: flex;
        margin-left: auto;
        order: -1;
        text-align: right;
    }

    #nav {
        display: none;
    }

    #nav.expand {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-evenly;
        font-size: 0.8em;
    }
}

/* Links */

.publication-link {
    font-weight: bold;
    font-family: 'Courier New', monospace;
}

.horizontal-links a {
    font-weight: bold;
    font-family: 'Courier New', monospace;
    padding: var(--item-pad);
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.horizontal-links a:hover {
    background-color: var(--link-hover-colour);
    color: white;
}